Maps values to keys

easy + fast to access data

values not ordered, can be changed

https://www.youtube.com/watch?v=APAbRkrqDVI

In [30]:
###CREATE DICTIONARY
my_dict = {'jim':'001', 'gina':'002','joe':'003'}
print (my_dict)
type(my_dict)

{'jim': '001', 'gina': '002', 'joe': '003'}

dict

In [5]:
new_dict = dict()
print(new_dict)
type(new_dict)

{}

dict

In [6]:
new_dict = dict(Dave = '001', ava = '002')
new_dict

{'Dave': '001', 'ava': '002'}

In [7]:
###NESTED DICTIONARY

dictionaries that lie within other dictionary

In [9]:
emp_details={'Employee':{'Dave':{'id':'001','salary':'45000','Job':'engineer'},
                        'ava':{'id':'001','salary':'45000','Job':'engineer'}}}
emp_details

{'Employee': {'Dave': {'id': '001', 'salary': '45000', 'Job': 'engineer'},
  'ava': {'id': '001', 'salary': '45000', 'Job': 'engineer'}}}

In [10]:
###PERFORMING OPERATIONS

In [11]:
#accessing items
my_dict['jim']

'001'

In [12]:
my_dict.keys()

dict_keys(['jim', 'gina', 'joe'])

In [16]:
my_dict.get('jim')

'001'

In [18]:
for x in my_dict:
    print (x)

jim
gina
joe

In [20]:
for x in my_dict.values():
    print( x)

001
002
003

In [21]:
for x, y in my_dict.items():
    print(x,y)

jim 001
gina 002
joe 003

In [23]:
#change value
my_dict['jim']='005'
my_dict['chris']='008'
my_dict

{'jim': '005', 'gina': '002', 'joe': '003', 'chris': '008'}

In [24]:
my_dict.pop('gina')

'002'

In [26]:
my_dict.popitem()

('chris', '008')

In [31]:
del my_dict['joe']
my_dict
#reworked dict

{'jim': '001', 'gina': '002'}

In [32]:
#convert to DF
import pandas as pd

In [42]:
df = pd.DataFrame(emp_details['Employee'])
df

            Dave       ava
id           001       001
salary     45000     45000
Job     engineer  engineer